[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 =  "*"
pylint = "*"
mypy = "*"

[packages]
sample_qr = {path = ".",editable = true}

[requires]
python_version = "3.8"
